.input {
  width: 100%;
  background-color: transparent;
  border: 1.5px #fff solid;
  width: 500px;
  border-radius: 5px;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  color: white;
  outline: none;

  transition: color;
  transition-duration: 100ms;
}

html {
  text-align: center;
  background-color: #194b7a;
}

h1 {
  font-family: "Prompt", serif;
  color: white;
}

p {
  font-family: monospace;
  color: white;
}
